
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

header {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  background-color: #FFFFFF;
  box-shadow: 0 0 16px rgba(0,0,0,0.15);

}


.logo {
  color: #112434;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #112434;
  border-radius: 20px;
}

.navigation li a:hover,
.navigation li a.active {
  background: #112434;
  color: #fff;
}


.main_nav_container {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.navbar {
  width: auto;
  height: 100px;
  float: right;
  padding-left: 0;
  padding-right: 0;
}

.navbar_menu li {
  display: inline-block;
}

.navbar_menu li a {
  display: block;
  color: #1e1e27;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar_menu li a:hover {
  color: #b5aec4;
}

.navbar_user {
  margin-left: 37px;
}

.navbar_user li {
  display: inline-block;
  text-align: center;
}

.navbar_user li a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  color: #1e1e27;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}


.checkout_items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color: #FFFFFF;
}


.hamburger_container {
  display: none;
  margin-left: 40px;
}

.hamburger_container:hover i {
  color: #b5aec4;
}
















