<header>
  <a href="" class="logo"><img style="width: 40%; height: 40%" src="https://seeklogo.com/images/B/book-store-logo-AA64B3CB13-seeklogo.com.png"></a>
  <ul class="navigation">
    <li><a href="" class="active">Trang chủ</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Danh mục sách
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Văn học Việt Nam.</a></li>
        <li><a class="dropdown-item" href="#">Văn học nước ngoài.</a></li>
        <li><a class="dropdown-item" href="#">Thiếu nhi.</a></li>
        <li><a class="dropdown-item" href="#">Thời sự - Chính trị.</a></li>
      </ul>
    </li>
    <li><a href="">Sách bán chạy</a></li>
    <li><a href="">Giảm giá đặt biệt</a></li>
    <li><a [routerLink]="['/login']"><i class="bi bi-person"></i></a></li>
    <li><a><i class="bi bi-cart4"></i></a></li>
  </ul>
</header>

