<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>LIÊN HỆ</h6>
        <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE
        </i> Lầu 5, 387-389 Hai Bà Trưng Quận 3 TP HCMCông Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA60 - 62 Lê Lợi, Quận 1, TP. HCM, Việt NamFahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>THỂ LOẠI</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">Văn học Việt Nam.</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/"> Văn học nước ngoài.</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">Thiếu nhi.</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Thời sự - Chính trị.</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>HỖ TRỢ</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">Chính sách đổi - trả - hoàn tiền</a></li>
          <li><a href="http://scanfcode.com/contact/">Chính sách bảo hành - bồi hoàn</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Chính sách vận chuyển</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Chính sách khách sỉ</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Phương thức thanh toán và xuất HĐ</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
          <a href="#">Scanfcode</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa bi-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa bi-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa bi-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
