@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: #112434;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #112434;
  border-radius: 20px;
}

.navigation li:hover,
.navigation li.active {
  background: #112434;
  color: #fff;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
  color: #112434;
}

.sec {
  position: relative;
  padding: 100px;
  background: #112434;
}
.sec h2{
  font-size: 3em;
  color: #fff;
}
.sec p {
  font-size: 1em;
  font-weight: 300;
}

.card{
  width: 350px;
  height: 390px;
  border-radius:10px ;
  background-color: white;
}

.card{
  margin-left: 30px;
  width: 350px;
  border-radius:10px;
  margin-bottom: 28%;
}
.card:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
}
.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}
.heading_container h2::before {
  content: url(../../assets/img/tulip.png);
  position: absolute;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}



.product-label {
  position: absolute;
  top: 15px;

}

.product-label>span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 12px;
}

.product-label>span.sale {
  background-color: #FFF;
  border-color: #29aafe;
  color: #29aafe;
}

.product-label>span.new {
  background-color: #29aafe;
  border-color: #29aafe;
  color: #FFF;
}




.add-to-cart {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
  padding: 15px;
  text-align: center;
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  z-index: 2;
}

.add-to-cart {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.add-to-cart .add-to-cart-btn {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 30px;
  background-color: #ef233c;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.add-to-cart .add-to-cart-btn>i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #D10024;
  opacity: 0;
  visibility: hidden;
}

.add-to-cart .add-to-cart-btn:hover {
  background-color: #FFF;
  color: #D10024;
  border-color: #D10024;
  padding: 0px 30px 0px 50px;
}

.add-to-cart .add-to-cart-btn:hover>i {
  opacity: 1;
  visibility: visible;
}
