<section class="parallax">
  <h2 id="text">Book Store</h2>
  <img src="../../assets/img/monutain_01.png" id="m1">
  <img src="../../assets/img/trees_02.png" id="t2">
  <img src="../../assets/img/monutain_02.png" id="m2">
  <img src="../../assets/img/trees_01.png" id="t1">
  <img src="../../assets/img/man.png" id="man">
  <img src="../../assets/img/plants.png" id="plants">
</section>

<section class="sec">
  <div class="container">
    <div class="row">
      <div class="heading_container justify-content-center">
        <h2>
          New Book
        </h2>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn0.fahasa.com/media/catalog/product/8/9/8936024916367_thanh_ly.jpg" class="card-img-top"
               alt="...">
          <div class="card-body">
            <div class="product-label">
              <span class="sale">-30%</span>
            </div>
            <h6 class="card-title">Nhảy Múa Trong Bộ Đồ Da</h6>
            <p class="card-text" style="color: red">52.000 đ</p>
            <div class="add-to-cart">
              <button class="add-to-cart-btn"><i class="bi bi-cart3"></i> Add to cart</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn0.fahasa.com/media/catalog/product/8/9/8935280400733.jpg" class="card-img-top"
               alt="...">
          <div class="card-body">
            <div class="product-label">
              <span class="sale">-30%</span>
            </div>
            <h6 class="card-title">Bảy thoái quen hiệu quả</h6>
            <p class="card-text" style="color: red">52.000 đ</p>
            <div class="add-to-cart">
              <button class="add-to-cart-btn"><i class="bi bi-cart3"></i> Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_189077.jpg" class="card-img-top"
               alt="...">
          <div class="card-body">
            <div class="product-label">
              <span class="sale">-30%</span>
            </div>
            <h6 class="card-title">Tâm Lý Học</h6>
            <p class="card-text" style="color: red">52.000 đ</p>
            <div class="add-to-cart">
              <button class="add-to-cart-btn"><i class="bi bi-cart3"></i> Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_238099.jpg" class="card-img-top"
               alt="...">
          <div class="card-body">
            <div class="product-label">
              <span class="sale">-30%</span>
            </div>
            <h6 class="card-title">Tóm tắt kiến thức</h6>
            <p class="card-text" style="color: red">52.000 đ</p>
            <div class="add-to-cart">
              <button class="add-to-cart-btn"><i class="bi bi-cart3"></i> Add to cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_192146.jpg" class="card-img-top"
               alt="...">
          <div class="card-body">
            <div class="product-label">
              <span class="sale">-30%</span>
            </div>
            <h6 class="card-title">IELTS 13</h6>
            <p class="card-text" style="color: red">52.000 đ</p>
            <div class="add-to-cart">
              <button class="add-to-cart-btn"><i class="bi bi-cart3"></i> Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<script>-->
<!--  gsap.registerPlugin(ScrollTrigger);-->

<!--  gsap.to(".test-thingy", {-->
<!--    scrollTrigger: {-->
<!--      trigger: ".test-thingy",-->
<!--      toggleActions: "restart none none none"-->
<!--    },-->
<!--    x: 400,-->
<!--    rotate: 90,-->
<!--    duration: 0.5-->
<!--  });-->
<!--  gsap.from("#m1", {-->
<!--    scrollTrigger: {-->
<!--      scrub: true-->
<!--    },-->
<!--    y: 150,-->
<!--  })-->
<!--  gsap.from("#m2", {-->
<!--    scrollTrigger: {-->
<!--      scrub: true-->
<!--    },-->
<!--    y: 50,-->
<!--  })-->
<!--  gsap.from("#t2", {-->
<!--    scrollTrigger: {-->
<!--      scrub: true-->
<!--    },-->
<!--    x: -50,-->
<!--  })-->
<!--  gsap.from("#t1", {-->
<!--    scrollTrigger: {-->
<!--      scrub: true-->
<!--    },-->
<!--    x: 50,-->
<!--  })-->
<!--  gsap.from("#man", {-->
<!--    scrollTrigger: {-->
<!--      scrub: true-->
<!--    },-->
<!--    x: -150,-->
<!--  })-->
<!--  gsap.from("#plants", {-->
<!--    scrollTrigger: {-->
<!--      scrub: true-->
<!--    },-->
<!--    x: -50,-->
<!--  })-->
<!--  gsap.from("#text", {-->
<!--    scrollTrigger: {-->
<!--      scrub: true-->
<!--    },-->
<!--    x: 300,-->
<!--  })-->
<!--</script>-->
